# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Lock files
foundry.lock

# Coverage reports
lcov.info
NOTES.md
.DS_Store